In [2]:
x = [1,3,5,2,6,4,9,8,7]
y = ["John", "Jane", "Bob", "Mary", "Andy", "Steve"]

In [3]:
print(x)
print(y)

[1, 3, 5, 2, 6, 4, 9, 8, 7]
['John', 'Jane', 'Bob', 'Mary', 'Andy', 'Steve']

In [25]:
x.insert(10,11)
x.append(12)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [26]:
x.sort()
y.sort()
y.reverse()
print(x)
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
['Steve', 'Mary', 'John', 'Jane', 'Bob', 'Andy']